* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #f3f6f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 24px;
    width: 380px;
    height: fit-content;
}

.additional {
    position: absolute;
    top: 28px;
    right: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.additional-option {
    background: none;
    border: none;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    color: #0f0f0f;
    opacity: 0.7;
}

.additional-option:hover {
    scale: 1.1;
}

.additional-option:active {
    scale: 0.9;
}

.title {
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: #0f0f0f;
    margin-bottom: 8px;
    align-self: flex-start;
}

.description {
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #0f0f0f;
    opacity: 0.7;
    margin-bottom: 32px;
}

.action {
    background: #fa005a;
    border: none;
    border-radius: 80px;
    width: 100%;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1rem;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.action:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.action:not(:disabled):hover {
    opacity: 0.7;
}

.action:not(:disabled):active {
    scale: 0.98;
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1rem;
    color: #11181c;
    background: #0000000c;
    padding: 12px 16px;
    border-radius: 6px;
    width: 100%;
    outline: solid 0 #c7c9cc;
    transition: all 0.02s ease-in-out;
}

.option:hover {
    outline-width: 2px;
}

.option-switch {
    position: relative;
    width: 40px;
    height: 24px;
    background: #c6c9cc;
    border-radius: 64px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    appearance: none;
}

.option-switch:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.option-switch::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 64px;
    transition: all 0.2s ease-in-out;
    scale: 0.8;
}

.option-switch:checked {
    background: #fa005a;
}

.option-switch:checked::before {
    transform: translateX(20px);
}

.author {
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #0f0f0f;
    opacity: 0.7;
    margin-top: 32px;
}

.author a {
    color: #fa005a;
}
